@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply block w-full rounded-md border-0 px-2.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
        placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-600 sm:text-sm sm:leading-6
        dark:text-gray-100 dark:bg-gray-900 dark:ring-gray-600;
}

.btn {
    @apply inline-flex gap-3 rounded-md bg-green-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600;
}
