{% extends "layout.html" %}

{% block title %}Zápas #{{ match.id }} {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="font-semibold text-3xl mb-4">Zápas #{{ match.id }}</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
        <div>
            <h2 class="font-semibold text-xl mb-4">Skóre</h2>

            <table class="w-full text-sm">
                <thead class="bg-green-100 text-green-800 border-green-800 border-b dark:bg-green-900 dark:text-green-400 dark:border-green-600">
                    <tr>
                        <th class="p-2 text-left">#</th>
                        <th class="p-2 text-left">Hráč</th>
                        <th class="p-2 text-right">Body</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-green-800/30 dark:divide-green-800/70">
                    {% for bot in match.matchbot_set.all %}
                    <tr class="even:bg-green-50 dark:even:bg-green-950 group">
                        <td class="p-2">{% ifchanged bot.score %}{{ forloop.counter }}{% endifchanged %}</td>
                        <td class="p-2 w-full">{{ bot.bot_version.bot }}</td>
                        <td class="p-2 text-right tabular-nums">{{ bot.score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {% if match.observer_log %}
            <h2 class="font-semibold text-xl mb-4">Záznam</h2>

            <div class="mb-6 flex gap-1 flex-wrap">
                <a href="{{ OBSERVER_URL }}/{{ match.game_id }}/?file={{ match.observer_log.url|urlencode }}" class="btn">Prehrať</a>
                <a href="{{ match.observer_log.url }}" class="btn">Stiahnúť</a>
            </div>
            {% endif %}

            {% if match.is_finished %}
            <h2 class="font-semibold text-xl mb-4">Logy</h2>

            <div class="mb-6 flex gap-1 flex-wrap">
                {% if match.server_log %}
                <a href="{{ match.server_log.url }}" class="btn">Server</a>
                {% endif %}

                {% for bot in match.matchbot_set.all %}
                    {% if bot.log %}
                        {% if user.is_staff or bot.bot_version.bot.user == user %}
                        <a href="{{ bot.log.url }}" class="btn">{{ bot.bot_version.bot }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
