{% extends "layout.html" %}

{% block title %}Bot '{{ bot.name }}' {{ block.super }}{% endblock %}

{% block content %}
    <h1 class="font-semibold text-3xl mb-4">Bot '{{ bot.name }}'</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
            <h2 class="font-semibold text-xl mb-2">Posledné zápasy</h2>

            TODO
        </div>
        <div>
            <h2 class="font-semibold text-xl mb-2">Verzie bota</h2>

            {% include "bots/_detail_versions.html" %}

            <a href="{% url "bot_upload" game=game.id bot=bot.id %}" class="mt-2 btn">
                Nahrať verziu
            </a>
        </div>
    </div>
{% endblock %}
