{% extends "layout.html" %}

{% block title %}Zoznam tvojich botov {{ block.super }}{% endblock %}

{% block content %}
    <div class="flex items-center mb-4 justify-between flex-wrap">
        <h1 class="font-semibold text-3xl">Tvoji boti</h1>

        <a href="#" class="btn">Nový bot</a>
    </div>

    {% if object_list %}
    <div class="border rounded-md divide-y overflow-hidden">
        {% for bot in object_list %}
            <a href="{% url "bot_detail" game=game.id pk=bot.pk %}" class="px-2.5 py-1.5 block hover:bg-gray-100">
                {{ bot.name }}
            </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-gray-600">
        Zatiaľ nemáš žiadneho bota v tejto hre.
    </div>
    {% endif %}
{% endblock %}
