{% extends "base.html" %}

{% block body %}
    <div class="mx-auto w-full p-8 max-w-5xl">
        <div class="flex items-center md:justify-between pb-8 mb-6 border-b border-green-800">
            <a href="{% url "home" %}" class="text-green-600">
                <div class="font-bold text-5xl">Proboj</div>
                <div class="text-sm">Programátorský boj</div>
            </a>

            <div class="flex items-center gap-2">
                {% if game %}
                    <a href="{% url "game_detail" pk=game.id %}" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Pravidlá</a>
                    <a href="{% url "match_list" game=game.id %}" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Zápasy</a>
                    <a href="{% url "game_leaderboard" game=game.id %}" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Leaderboard</a>
                    <a href="{% url "game_autoplay" game=game.id %}" class="hover:bg-red-500/10 text-red-600 px-2.5 py-1.5 rounded-md">Live</a>
                    {% if user.is_authenticated %}
                    <a href="{% url "bot_list" game=game.id %}" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Tvoji boti</a>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                <form action="{% url "logout" %}" method="post" id="logout-form">{% csrf_token %}</form>
                <a href="javascript:document.getElementById('logout-form').submit()" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Odhlásiť sa</a>
                {% else %}
                <a href="{% url "login" %}" class="hover:bg-green-600/10 text-green-600 px-2.5 py-1.5 rounded-md">Prihlásiť sa</a>
                {% endif %}
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>
{% endblock %}
