:8000 {
    handle_path /static/* {
        root * /app/static
        file_server
    }

    handle_path /uploads/* {
        root * /app/uploads
        file_server
    }

    handle /observer/* {
      root * /
      file_server
    }

    reverse_proxy 127.0.0.1:8001 {
        trusted_proxies private_ranges

        @accel header X-Sendfile *
        handle_response @accel {
            root * /
            rewrite {rp.header.X-Sendfile}
            file_server

            @asattachment header X-Sendfile-As-Attachement *
            header @asattachment {
                Content-Disposition: attachment
            }
        }
    }
}
