proboj.ksp.sk:80 {
  handle /static/* {
    root * /
    file_server
  }

  handle /uploads/* {
    root * /
    file_server
  }

  handle /observer/* {
    root * /
    file_server
  }

  reverse_proxy web:8000
}
