x-env: &x-env
  - DEBUG=True
  - SECRET_KEY=django-insecure-airootheesaethahpoo2EeLahze3wooGh9Ash2zae9ohgiengi
  - DATABASE_URL=postgres://postgres:postgres@db/postgres
  - ALLOWED_HOSTS=localhost
  - CELERY_BROKER_URL=redis://redis
  - BASE_URL=http://localhost:8000

name: ksp-proboj-web
services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app/
    environment: *x-env
    depends_on:
      - db
      - redis
    command: "./start.sh dev"

  worker:
    build:
      context: .
    volumes:
      - ./:/app/
    environment: *x-env
    depends_on:
      - db
      - redis
    command: "./start.sh worker"

  beat:
    build:
      context: .
    volumes:
      - ./:/app/
    environment: *x-env
    depends_on:
      - db
      - redis
    command: "./start.sh beat"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  tailwind:
    build:
      context: .
      target: cssbuild
    volumes:
      - ./proboj:/app/proboj
    tty: true

volumes:
  postgres_data:
